:root {
	--bg-1: #ffce99;
	--bg-2: #ffc180;
	--fg-1: #ffe6cc;
	--fg-2: #fff3e6;
}
html, body, p, div, a, ul, li, h1, h2, h3, section {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	color: black;
	font-family: 'Inconsolata', monospace;
}
body {
	background-color: var(--bg-1);
}
hr {
	border: none;
	border-top: solid .1vh gray;
}
#main {
	height: 100vh;
	width: auto;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}
#presentation {
	display: flex;
	flex-direction: column;
	align-items:center;
	margin: 4em;
}
#img-ct {
	height: 30vh;
	width: 30vh;
	border-radius: 50%;
	background-color: white;
	box-shadow: 0 0 5px black;
	margin-bottom: 1em;
}
#psocial {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#pinfo {
	display: flex;
	align-items: center;
	margin-top: 2vh;
}

.icon {
	width: 60%;
	height: 60%;
}
.glyph {
	display: flex;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	background-color: var(--fg-1);
	width: 4vh;
	height: 4vh;
	margin-left: 8pt;
	border-radius: 5pt;
	transition: background-color 300ms;
}
.glyph:hover {
	background-color: var(--fg-2);
}
.glyph:active {
	background-color: var(--bg-2);
}
#container {
	margin: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 3vh;
	font-weight: 100;
}
#works-content {
	display: flex;
	flex-direction: column;
}

.works-content-item>a {
	word-wrap: break;
}
.works-content-item:hover {
	padding-left: 1cm;
}

.works-content-item {
	font-size: 2vh;
	transition: padding-left 600ms;
	margin-bottom: 2vh;
}
